@media (max-width: 1164px) {
  .overlap-boxes .additional-info-box {
    top: 44rem;
  }
}
@media (max-width: 1047px) {
  .overlap-boxes .first-box {
    padding: 2.9rem 3.8rem 5.5rem;
  }
  .overlap-boxes .additional-info-box {
    top: 33rem;
    width: 50%;
    max-width: 600px;
    left: unset;
    right: 2rem;
  }

  #reward {
    padding-top: 1rem;
  }

  #join {
    padding-bottom: 11rem;
  }
  #join .overlap-boxes .first-box {
    width: 600px;
    max-width: 100%;
  }
  #join .overlap-boxes .under-box {
    width: 638px;
    max-width: 96%;
    top: 30rem;
    left: unset;
    padding: 10rem 3rem 4rem;
  }

  #contact {
    padding-top: 12rem;
  }

  .container-limited-width {
    padding: 8rem 0 7rem;
  }
}
@media (max-width: 991px) {
  .contact-info {
    padding: 5rem 4rem 0 5rem;
  }
  .contact-info .section-heading {
    margin: 0 0 3rem;
  }
}
@media (max-width: 800px) {
  .overlap-boxes .first-box {
    max-width: 530px;
    width: 69%;
    margin-bottom: 14rem;
  }
  .overlap-boxes .additional-info-box {
    top: 13rem;
    left: unset;
    right: 0;
    max-width: 264px;
    width: 35%;
    padding-right: 3rem;
  }
  .overlap-boxes .additional-info-box .flex-box {
    flex-direction: column;
    align-items: center;
  }
  .overlap-boxes .additional-info-box .flex-box div {
    max-width: 65%;
  }
  .overlap-boxes .under-box {
    top: 47rem;
    left: 3rem;
    width: 70%;
  }

  #reward {
    padding-top: 13rem;
  }
  #reward > .container-limited-width > .flex-box {
    padding: 0 5rem;
  }

  #join {
    padding-bottom: 0;
  }

  #contact {
    padding-top: 10rem;
  }
}
@media (max-width: 900px) {
  nav .logo .mobile {
    display: block;
  }
  nav .logo .desktop {
    display: none;
  }
  nav ul {
    display: none;
  }
  nav .hamburger {
    display: block;
  }
}
@media (max-width: 730px) {
  #reward {
    padding-top: 6rem;
  }
}
@media (max-width: 646px) {
  #about .under-box {
    top: 55rem;
  }
}
@media (max-width: 610px) {
  #hero {
    padding: 10rem 0 4rem;
  }
  #hero button.CTA {
    margin: 3rem auto;
    max-width: 75vw;
  }

  #about.container-limited-width,
#join .container-limited-width {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    padding: 0;
  }

  .overlap-boxes .first-box {
    width: 96vw;
    max-width: 96vw;
    margin: 0 auto;
    padding: 3rem 2rem;
    position: relative;
    top: 4rem;
  }
  .overlap-boxes .first-box .CTA {
    margin: 0 auto;
  }
  .overlap-boxes .under-box,
.overlap-boxes .additional-info-box {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
  .overlap-boxes .additional-info-box {
    padding: 3rem 2rem;
  }

  #about.container-limited-width .under-box {
    top: 0;
  }

  #join .overlap-boxes .first-box {
    width: 96vw;
    max-width: 96vw;
  }
  #join .overlap-boxes .under-box {
    top: 0;
    width: 100%;
    max-width: 100%;
    padding: 8rem 2rem 2rem;
  }
  #join .overlap-boxes .quote i {
    position: absolute;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.25);
    top: 5rem;
    right: -2rem;
  }
  #join .overlap-boxes .quote img {
    max-width: 48px;
    height: auto;
  }
  #join .overlap-boxes .quote .quote-author {
    margin-top: 4rem;
  }

  #reward {
    padding: 0;
  }

  #contact {
    padding-top: 0;
  }
  #contact .row {
    margin: 0;
  }
  #contact .row .no-padding {
    padding: 0;
  }
  #contact .container-limited-width {
    padding-top: 0;
    width: 100vw;
  }
  #contact .contact-info {
    padding: 4rem 2rem 0;
  }

  .container-limited-width {
    padding: 4rem 0;
  }
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
  body h1 {
    font-size: 38px;
    line-height: 38px;
  }
  body h2 {
    font-size: 32px;
    line-height: 38px;
  }
  body h3 {
    font-size: 24px;
    line-height: 28px;
  }
  body h4 {
    font-size: 15px;
    line-height: 16px;
  }
}

/*# sourceMappingURL=media-queries.css.map */
