//colors
$color-body: #f4f4f4;
$color-default-text: #3c3c3c;
$color-headers: #333;
$color-small-headers: #999;
$color-primary: #3ead48;
$color-secondary: #1e3066;

.primary-color {
  color: $color-primary;
}

//typography
@font-face {
  font-family: "Raleway";
  src: url(./../assets/fonts/Raleway/Raleway-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Millunium";
  src: url(./../assets/fonts/Millunium/Millunium-Bold.ttf) format("truetype");
}

body{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 24px;
  background: $color-body;
  color: $color-default-text;

  h1, h2, h3, h5{
    font-family: "Millunium";
    font-weight: 700;
    color: $color-headers;
  }

  h1{
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.43px;
  }

  h2{
    font-size: 48px;
    line-height: 56px;
    color: $color-small-headers
  }

  h3{
    font-size: 32px;
    line-height: 38px;
    margin-top: 0;
  }

  h4{
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    color: $color-small-headers;
  }

  h5{
    font-size: 16px;
    line-height: 18px;
  }
}


//navbar #menu
nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;

  padding: 2rem;

  .logo{
    float: left;
  }

  #menu{
    float: right;
    padding: 0.7rem 0;

    li{
      display:inline-block;

      a{
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 3rem;
      }
    }
  }
}

//header #hero
#hero{
  background: url(./../assets/images/pp-main-background.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 15rem 0 10rem;

  .row{
    margin-right: 0;
  }

  h1, h4 {
    color: #fff;
  }
  h1{
    margin: 0 0 24px;
  }

  p{
    border-radius: 3px;
    max-width: 600px;
    margin: 0 auto;
  }

  button.CTA{
    margin: 54px 0;
  }

  .circle-down{
    display: block;
    background: none;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 7px 0;
    margin: 0 auto;
  }
}

.overlap-boxes {

  position: relative;
  z-index: 1;

  & > div,
  & > div img {
    border-radius: 3px;
  }

  .first-box{
    max-width: 610px;
    padding: 50px 50px 45px;
  }

  .under-box{
    max-width: 693px;
    position: absolute;
    top: 5.5rem;
    left: 54rem;
    z-index: -10;
  }

  .additional-info-box{
    max-width: 510px;
    background: #3ead48;
    padding: 45px;
    text-align: center;
    position: absolute;
    left: 6rem;
    top: 39rem;
    z-index: -1;

    h2, h4, h5 {
      color: #fff;
    }
  }
}
.white-shadow-box{
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.18);
}

#reward{
  background: #fff;
  text-align: center;
  padding-top: 15rem;
}

.icon-box {
  max-width: 187px;

  .icon {
    height: 100px;
    width: 100px;
    margin: 0 auto 10px;

    img{
      max-width: 100%;
      height: auto;
    }
  }

  p{
    font-weight: 700;
  }
}


.img-responsive{
  width: 100%;
  height: auto;
}

button.CTA{
  background: $color-primary;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.13px;
  border: none;
  border-radius: 3px;
  width: 320px;
  height: 48px;
}

.container-limited-width{
  max-width: 1200px;
  margin: 0 auto;
  padding: 10rem 0 7rem;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section-heading{
  max-width: 600px;
  margin: 0 auto 3rem;
}

