//typography
@font-face {
  font-family: "Raleway";
  src: url(./../assets/fonts/Raleway/Raleway-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Millunium";
  src: url(./../assets/fonts/Millunium/Millunium-Bold.ttf) format("truetype");
}

body{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
h1{
  font-family: "Millunium";
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1.43px;
  margin: 0 0 24px;
}

h4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

//navbar #menu
nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10000;

  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;

  .logo{
    float: left;
  }

  #menu{
    float: right;
    padding: 0.7rem 0;

    li{
      display:inline-block;

      a{
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 3rem;
      }
    }
  }
}

//header #hero
#hero{
  background: url(./../assets/images/pp-main-background.jpg) no-repeat center;
  color: #fff;
  text-align: center;
  padding: 14rem 0 7rem;

  p{
    border-radius: 3px;
    max-width: 600px;
    margin: 0 auto;
  }

  button{
    margin: 54px 0;
  }
}

button.CTA{
  background: #3ead48;
  color: #fff;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: -0.13px;
  border: none;
  border-radius: 3px;
  width: 320px;
  height: 48px;
}
